<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <title>Namesleuth - About</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    <main role="main" class="container">
      <h1>Namesleuth</h1>
      <p class="lead">
        Social Network Image Focused Forensics
      </p>
      <p>
        A tool that assists tracing source of images from social networks.
      </p>
      <p>
        Courtesy of <b>"Practical Analyses of How Common Social Media Platforms and Photo Storage Services Handle Uploaded Images"</b>, MMM 2023 (Accepted)
      </p>
    </main>

    {% include 'footer.html' %}
  </body>

</html>
