<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <title>Namesleuth - Analyze</title>
  </head>

  <body>
    {% include 'navbar.html' %}
    <main role="main" class="container pb-5">
      <h1>Analyze image</h1>
      <p class="lead">
        Drop an image here to analyze
      </p>
      <section id="image-upload">
        <div class="container col-md-12">
          <div class="bordered container mb-5 p-3">
            <input class="form-control" type="file" id="formFile" onchange="preview()">
            <button id="uploadButton" onclick="upload()" class="btn btn-primary mt-3">Analyze image</button>
          </div>
          <img id="frame" src="" class="img-fluid" />
        </div>
      </section>
      <section role="analysis">
        <h2 class="mt-5">Analysis results</h2>
        <div id="facebook-source">
          <h3 class="mt-5">
            Facebook source
            [<a href="#" data-bs-toggle="tooltip" data-bs-title="Where the image is most likely downloaded from Facebook">?</a>]
          </h3>
          <i>Because of Facebook's recent updates, this is only usable for images uploaded between July, 2012 and Dec 14<sup>th</sup>, 2022.</i>
          <div id="facebook-result">
            Wait for image to be uploaded
          </div>
        </div>
        <div id="flickr-source">
          <h3 class="mt-5">
            Flickr source
            [<a href="#" data-bs-toggle="tooltip" data-bs-title="Where the image is most likely downloaded from Flickr">?</a>]
          </h3>
          <div id="flickr-result">
            Wait for image to be uploaded
          </div>
        </div>
        <div id="reddit-source">
          <h3 class="mt-5">
            Reddit source
            [<a href="#" data-bs-toggle="tooltip" data-bs-title="Where the image is most likely downloaded from Reddit">?</a>]
          </h3>
          <div id="reddit-result">
            Wait for image to be uploaded
          </div>
        </div>
        <div id="metadata">
          <h3 class="mt-5">Image metadata</h3>
          <div id="metadata-result">
            Wait for image to be uploaded
          </div>
        </div>
        <div id="resolution">
          <h3 class="mt-5">Image resolution</h3>
          <div id="resolution-result">
            Wait for image to be uploaded
          </div>
        </div>
      </section>
    </main>

    <div class="fixed-bottom">
      <div class="row justify-content-end">
        <div id="alert-placeholder" class="col-md-3"></div>
      </div>
    </div>

    {% include 'footer.html' %}
    <script src="/static/js/analyze.js"></script>
    <script>
    renderTooltip();


    const preview = () => {
      frame.src = URL.createObjectURL(event.target.files[0]);
    }
    const upload = async () => {
      uploadButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Upload image'
      const input = document.querySelector('input[type="file"]');
      if (!input.files[0]) {
        alertMessage("Image cannot be empty", 'warning');
      }
      else {
        const data = new FormData();
        data.append('file', input.files[0]);
        res = await fetch(`/api/v1/upload_image`, {
          method: 'POST',
          body: data
        }).then(res => res.json());

        if (res.success) {
          localStorage.setItem('imageID', res.data.id);
          alertMessage("Image upload successfully", 'success');
          startAnalysis();
        }
        else {
          alertMessage(res.data.error, 'danger');
        }
      }
      uploadButton.innerHTML = "Analyze image"
    }
    </script>
    <script src="/static/js/alert.js"></script>
  </body>

</html>
