<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark ps-3 pe-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Namesleuth</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <!-- <li class="nav-item">
                         <a class="nav-link" href="/analyze_image">Analyze image</a>
                         </li>
                         <li class="nav-item">
                         <a class="nav-link" href="/analyze_filename">Analyze file name</a>
                         </li>
                         </ul> -->
            </div>
        </div>
    </nav>
</header>
