html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.bordered {
    border-radius: 10px;
    border: 1px solid black;
}

#frame {
    height: 500px;
    width: auto;
}

.flickr-time-list {
    display: grid;
    grid-template-columns: 150px auto;
    column-gap: 5px;
}

.flickr-time-list > b {
    margin: 0;
    text-align: center;
    height: 40px;
    line-height: 40px;
    vertical-align: center;
}

.flickr-time-bar-container {
    position: relative;
    height: 20px;
    padding: 10px 0px;
}

.flickr-time-bar {
    transition: width .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 0;
    height: 20px;
}